@{
   string id = ViewData.ModelMetadata.PropertyName;
   string textFull = Html.Encode(Model??"");
   string PartialText = textFull;
   string less = "";
   bool full = true;
   if (PartialText.Length > 20)
   {
       full = false;
       PartialText = PartialText.Substring(0, 20) + "...<a href=javascript:showHide_" + id + "(true)>(more)</a>";
   }
 
}
 
<div title="@textFull" id='@("display"+ id)'>
        @Html.Raw(PartialText )
 
    </div>
    @{if (full) {
          return;
      }
     }
 
<div  id='@("hid" + id)' style="display:none">
@textFull
<p><a href='javascript:@("showHide_"+ id) (false)'>less</a></p>
</div>
<script type="text/javascript">
    function @("showHide_"+ id) (showFull){
 
        $("#@("display"+ id)").toggle(!showFull);
 
        $("#@("hid"+ id)").toggle(showFull);
 
    }
</script>