@model ContestsPortal.Domain.Models.ArchivedTask

@{
    ViewBag.Title = "Подробности задачи";
    Layout = "~/Views/_Layout.cshtml";
}

@section styles {
    <link rel="stylesheet" href="@Url.Content("~/content/styles/validation.css")" />
    <link rel="stylesheet" href="@Url.Content("~/content/themes/base/all.css")" />
    <link rel="stylesheet" href="@Url.Content("~/content/styles/forms.css")" />
}
@section scripts
{   
    <script src="~/Scripts/jquery-1.8.2.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
}

<h4>Подробности задачи</b></h4>
<hr />

<form class="smart-green">     

    <label>
        <span>Содержимое задачи</span>
        <div>
            @Html.EditorFor(model => model.TaskContent, new {htmlAttributes = new {@class = "input"}})
            @Html.ValidationMessageFor(model => model.TaskContent, "", new {@class = "text-danger"})
        </div>
    </label>   

    <label>
        <span>Уровень сложности</span>
        <div>
            @Html.EditorFor(model => model.TaskComplexity, new {htmlAttributes = new {@class = "input"}})
            @Html.ValidationMessageFor(model => model.TaskComplexity, "", new {@class = "text-danger"})
        </div>
    </label>
    
    <label>
        <span>Название</span>
        <div>
            @Html.EditorFor(model => model.TaskTitle, new {htmlAttributes = new {@class = "input"}})
            @Html.ValidationMessageFor(model => model.TaskTitle, "", new {@class = "text-danger"})
        </div>
    </label>

    <label>
        <span>Категория</span>
        <div>
            @Html.EditorFor(model => model.IdTaskCategory, new {htmlAttributes = new {@class = "input"}})
            @Html.ValidationMessageFor(model => model.IdTaskCategory, "", new {@class = "text-danger"})
        </div>
    </label>
</form>

