@model ContestsPortal.Domain.Models.Contest

@{
    ViewBag.Title = "Детали соревнования";
    Layout = "~/Views/_Layout.cshtml";
}

@section styles {
    <link rel="stylesheet" href="@Url.Content("~/content/styles/validation.css")" />
    <link rel="stylesheet" href="@Url.Content("~/content/themes/base/all.css")" />
    <link rel="stylesheet" href="@Url.Content("~/content/styles/forms.css")" />
}

@section scripts
{ 
    <script type="text/javascript" src="~/Scripts/jquery-2.1.3.min.js"></script>
    <script type="text/javascript" src="~/Scripts/take-part.js"></script>
}

<h2>Детали соревнования</h2>

<p>
    <a href="#@Model.ContestId" class="button" id="take-part">Принять участие</a>     
</p>

<form class="smart-green">
    <label>
        <span>Наименование контеста</span>        
        <div>
            <input type="text" name="ContestTitle" value="@Model.ContestTitle" class="input"/>
            @Html.ValidationMessageFor(model => model.ContestTitle, "", new {@class = "text-danger"})
        </div>
    </label>  

    <label>
        <span>Комментарий</span>
        <div>
            <input type="text" name="ContestComment" value="@Model.ContestComment" class="input"/>
            @Html.ValidationMessageFor(model => model.ContestComment, "", new {@class = "text-danger"})
        </div>
    </label>

    <label>
        <span>Дата и время начала</span>
        <div>
            <input type="text" name="ContestBeginning" value="@Model.ContestComment" class="input"/>
            @Html.ValidationMessageFor(model => model.ContestBeginning, "", new {@class = "text-danger"})
        </div>
    </label>

    <label>
        <span>Количество задач</span>
        <div>
            <input type="text" name="TasksCount" value="@Model.TasksCount" class="input"/>
            @Html.ValidationMessageFor(model => model.TasksCount, "", new {@class = "text-danger"})
        </div>
    <label>

    <label>
        <span>Дата и время окончания</span>
        <div>
            <input type="text" name="ContestEnd" value="@Model.ContestEnd" class="input"/>
            @Html.ValidationMessageFor(model => model.ContestEnd, "", new {@class = "text-danger"})
        </div>
   </label>

    <label>
        <span>Количество участников</span>
        <div>
            <input type="text" name="CompetitorsCount" value="@Model.CompetitorsCount" class="input"/>
            @Html.ValidationMessageFor(model => model.CompetitorsCount, "", new {@class = "text-danger"})
        </div>
    </label>
<div style="padding-top: 20px; margin-bottom: 20px;">
    <h3>Задачи</h3>
    <hr />       
    <table class="table">
        <tr>               
            <th>Сложность</th>
            <th>Название</th>
            <th>Категория</th>
            <th></th>
        </tr>

        @foreach (var item in Model.Tasks) {
            <tr>        
                <td>@Html.DisplayFor(modelItem => item.ArchivedTask.TaskComplexity)</td>
                <td>@Html.DisplayFor(modelItem => item.TaskTitle)</td>
                <td>@Html.DisplayFor(modelItem => item.ArchivedTask.IdTaskCategory)</td>
                <td>@Html.ActionLink("Подробнее", "ArchivedTaskDetails", new { taskId=item.TaskId })</td>
            </tr>
        }
    </table>          
</div>
<div style="margin-top: 20px;">
    <span>@Html.ActionLink("Назад", "ContestsHistory") </span>
</div>

</form>

